/*Font-Family*/
@font-face {
  font-family: brand-font;
  src: url(./Fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
@font-face {
  font-family: text-font;
  src: url(./Fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Selection*/
body {
  user-select: none;
}
/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: #f8f6f6;
  width: 5px;
}
/*scrollbar-thumb-background*/
::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.832);
  border-radius: 20px;
}
main {
  width: 100%;
  background-color: #ffffff;

  header p {
    /*Header paragraph*/
    text-align: left;
    color: #ffffff;
    background: linear-gradient(to right, #256cfa, #7f40f3);
    font-size: 0.9rem;
    font-family: brand-font;
    font-weight: 500;
    padding: 0.9rem 0.9rem;
  }
  /*Navbar*/
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /*Logo*/
    img {
      width: 50%;
    }
    /*Icon*/
    i {
      font-size: 1.3rem;
    }
  }
  /*First section starts here*/
  .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f3fcff, #fae8f0);
    padding: 2rem;
    gap: 5rem;
    figure {
      img {
        width: 100%;
      }
    }
    .text {
      text-align: center;
      font-size: 1.5rem;
      font-family: text-font;
    }
    h2 {
      text-align: center;
      font-family: brand-font;
      font-weight: 300;
      font-size: 2rem;
    }
  }
  /*Second section starts here*/
  .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 4rem 0.1rem;
    .main-div {
      .line {
        border-top: 0.2rem solid #e8eaed;
        padding: 1rem 3rem;
      }

      h2 {
        padding: 0.5rem 2rem;
        font-family: brand-font;
      }
      p {
        color: #000;
        opacity: 0.8;
        padding: 0.5rem 2rem;
        font-family: brand-font;
        font-size: 1rem;
      }
      figure {
        width: 100%;
        img {
          width: 90%;
          object-fit: cover;
          object-position: center;
          padding: 2rem;
        }
      }
    }
  }
  /*Third section starts here*/
  .third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem;
    .main-div {
      figure {
        img {
          width: 100%;
        }
      }
    }
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
      h4 {
        font-size: 1.2rem;
        font-family: brand-font;
        color: #000;
        opacity: 0.8;
      }
      h3 {
        font-size: 2.9rem;
        font-family: brand-font;
        color: #000;
      }
      p {
        font-size: 1.2rem;
        font-family: text-font;
        color: #000;
        opacity: 0.7;
        text-align: left;
      }
      .third-btn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .btn {
          border: 0.1rem solid #0468d7;
          border-radius: 2rem;
          padding: 0.5rem 1rem;
          text-decoration: none;
          font-size: 0.9rem;
          color: #0468d7;
          font-family: brand-font;
          font-weight: 600;
          width: fit-content;
        }
        .more {
          font-family: brand-font;
          padding: 1rem 1rem;
          text-decoration: none;
          color: #000;
          font-weight: 600;
        }
      }
    }
  }
  /*Four section starts here*/
  .fourth {
    background: linear-gradient(to right, #fcfce2, #f5fbfe);
    .main-four {
      display: flex;
      flex-direction: column;
      figure {
        padding: 2rem 2rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        gap: 1.5rem;
        h3 {
          font-family: brand-font;
          color: #000;
          opacity: 0.7;
        }
        h1 {
          font-family: brand-font;
          font-size: 2.8rem;
          color: #000;
          line-height: 1;
        }
        p {
          font-family: text-font;
          color: #000;
          opacity: 0.7;
          font-size: 1.2rem;
        }
        a {
          border: 0.1rem solid #0468d7;
          border-radius: 2rem;
          padding: 0.5rem 1rem;
          text-decoration: none;
          font-size: 0.9rem;
          background-color: #0468d7;
          color: #fff;
          font-family: brand-font;
          font-weight: 600;
          width: fit-content;
        }
        a:hover {
          background-color: transparent;
          color: #0468d7;
          transition: all ease-in 0.3s;
        }
      }
    }
  }
  /*Five section starts here*/
  .fiveth {
    background-color: #f3fcff;
    .main-five {
      display: flex;
      flex-direction: column;
      figure {
        padding: 2rem 2rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        gap: 1.5rem;
        h3 {
          font-family: brand-font;
          color: #000;
          opacity: 0.7;
        }
        h1 {
          font-family: brand-font;
          font-size: 2.8rem;
          color: #000;
          line-height: 1;
        }
        p {
          font-family: text-font;
          color: #000;
          opacity: 0.7;
          font-size: 1.2rem;
        }
        a {
          border: 0.1rem solid #0468d7;
          border-radius: 2rem;
          padding: 0.5rem 1.5rem;
          text-decoration: none;
          font-size: 0.9rem;
          background-color: #fff;
          color: #0468d7;
          font-family: brand-font;
          font-weight: 600;
          width: fit-content;
        }
        a:hover {
          background-color: transparent;
          color: #0468d7;
          transition: all ease-in 0.3s;
        }
      }
    }
  }
  /*Four section starts here*/
  .sixth {
    background: linear-gradient(to bottom left, #f5fbfe, #fcfce2);
    .main-six {
      display: flex;
      flex-direction: column;
      figure {
        padding: 2rem 2rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        gap: 1.5rem;
        h3 {
          font-family: brand-font;
          color: #000;
          opacity: 0.7;
        }
        h1 {
          font-family: brand-font;
          font-size: 2.8rem;
          color: #000;
          line-height: 1;
        }
        p {
          font-family: text-font;
          color: #000;
          opacity: 0.7;
          font-size: 1.2rem;
        }
        a {
          border: 0.1rem solid #0468d7;
          border-radius: 2rem;
          padding: 0.5rem 1rem;
          text-decoration: none;
          font-size: 0.9rem;
          background-color: #0468d7;
          color: #fff;
          font-family: brand-font;
          font-weight: 600;
          width: fit-content;
        }
        a:hover {
          background-color: transparent;
          color: #0468d7;
          transition: all ease-in 0.3s;
        }
      }
    }
  }
  /*Get started section starts here*/
  .started {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 2rem;
    align-content: center;
    justify-content: center;
    width: 100%;
    .box {
      width: 100%;
      border-radius: 2rem;
      background-color: #042449;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-between;
      background-image: url(./images/nine.png);
      background-position: top right;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .get-text {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 6rem 5rem;

        gap: 1rem;
        h1 {
          color: #ffffff;
          font-family: brand-font;
          font-size: 3rem;
        }
        p {
          color: #ffffff;
          font-family: brand-font;
          font-size: 1rem;
        }
        .text-btn {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .btn {
            border: 0.1em solid #000;
            border-radius: 2rem;
            padding: 0.5rem 2rem;
            text-decoration: none;
            font-size: 0.9rem;
            color: #0468d7;
            background-color: #fff;
            font-family: brand-font;
            font-weight: 600;
            width: fit-content;
          }
          .read {
            font-size: 0.9rem;
            font-family: brand-font;
            padding: 1rem 1rem;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
  }
  /*Footer section starts here*/
  .footer {
    background-color: #f8f9fa;
    width: 100%;
    padding: 2rem;
    .main-footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 4rem;
      padding: 2rem;
      figure {
        width: 80%;
        // background-color: red;
        img {
          width: 100%;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 1.5rem;
        .about {
          ul {
            li {
              font-family: brand-font;
              list-style: none;
              color: #000;
              opacity: 0.7;
              line-height: 2rem;
              &:nth-child(1) {
                color: #000; // applies only to the first <li>
                opacity: 1;
                font-size: 1.1rem;
                font-weight: 700;
              }
            }
          }
        }
        .learn {
          ul {
            li {
              font-family: brand-font;
              list-style: none;
              color: #000;
              opacity: 0.7;
              line-height: 2rem;
              &:nth-child(1) {
                color: #000; // applies only to the first <li>
                opacity: 1;
                font-size: 1.1rem;
                font-weight: 700;
              }
            }
          }
        }
        .platform {
          ul {
            li {
              font-family: brand-font;
              list-style: none;
              color: #000;
              opacity: 0.7;
              line-height: 2rem;
              &:nth-child(1) {
                color: #000; // applies only to the first <li>
                opacity: 1;
                font-size: 1.1rem;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;
      gap: 1rem;
      border-bottom: 0.1em solid rgb(227, 224, 224);
      i {
        font-size: 1.3rem;
        color: #000;
        opacity: 0.7;
      }
    }
    .terms {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      padding: 2rem 1rem;
      .term-para {
        font-size: 0.9rem;
        text-align: center;
        font-family: text-font;
        color: #000;
        opacity: 0.7;
      }
      .privacy {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        a {
          font-size: 0.9rem;
          text-decoration: none;
          font-family: brand-font;
          color: #000;
          opacity: 0.7;
        }
      }
    }
  }
}

/********** Responsive Section **********/
@media (min-width: 1000px) {
  main {
    header p {
      text-align: center;
      font-size: 1rem;
      padding: 1rem;
      cursor: pointer;
    }
    nav {
      padding: 1rem 2rem;

      img {
        width: 9%;
        cursor: pointer;
      }
    }
    /*First section responsive starts here*/
    .first {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .first-row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        figure {
          //   background-color: red;
          width: 50%;
          object-position: center;

          img {
            width: 100%;
          }
        }
        .text {
          //   background-color: #7f40f3;
          display: flex;
          align-items: center;
          text-align: left;
          font-size: 2.3rem;
          width: 50%;
          padding: 0rem 9rem;
          font-family: brand-font;
          line-height: 1;
        }
      }
      h2 {
        // background-color: #7f40f3;
        padding: 5rem 2rem;
        text-align: center;
      }
    }
    /*Second section responsive starts here*/
    .second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 4rem 5rem;

      .main-div h2 {
        font-size: 1.5rem;
      }
      .main-div p {
        font-size: 1.3rem;
      }
    }
    /*Third section responsive starts here*/
    .third {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      .main-div {
        figure {
          //   background-color: #7f40f3;
          img {
            width: 100%;
          }
        }
      }
      .text-content {
        // background-color: red;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1.5rem;
        h4 {
          font-size: 1.2rem;
          font-family: brand-font;
          color: #000;
          opacity: 0.8;
          padding: 0rem 5rem;
        }
        h3 {
          font-size: 2.9rem;
          font-family: brand-font;
          color: #000;
          padding: 0rem 5rem;
        }
        p {
          font-size: 1.2rem;
          font-family: text-font;
          color: #000;
          opacity: 0.7;
          text-align: left;
          padding: 1rem 5rem;
        }
        .third-btn {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding: 0rem 5rem;
          .btn {
            padding: 0.9rem 0.9rem;
          }
        }
        .third-btn .btn:hover {
          background-color: #0468d7;
          color: #f3fcff;
          transition: all ease-in 0.3s;
        }
      }
    }
    /*Fourth section responsive starts here*/
    .fourth {
      background: linear-gradient(to right, #fcfce2, #f5fbfe);
      .main-four {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        figure {
          // padding: 2rem 2rem;
          width: 40%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .text-content {
          display: flex;
          flex-direction: column;
          width: 40%;
          align-items: flex-start;

          h3 {
            font-family: brand-font;
            color: #000;
            opacity: 0.7;
          }
          h1 {
            font-family: brand-font;
            font-size: 4rem;
            color: #000;
            line-height: 1;
          }
          p {
            font-family: text-font;
            color: #000;
            opacity: 0.7;
            font-size: 1.2rem;
          }
          a {
            border: 0.1rem solid #0468d7;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-size: 0.9rem;
            background-color: #0468d7;
            color: #fff;
            font-family: brand-font;
            font-weight: 600;
            width: fit-content;
          }
          a:hover {
            background-color: transparent;
            color: #0468d7;
            transition: all ease-in 0.3s;
          }
        }
      }
    }
    /*Fiveth section responsive starts here*/
    .fiveth {
      background-color: #fff;
      .main-five {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        figure {
          // background-color: red;
          // padding: 2rem 2rem;
          width: 40%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .text-content {
          //   background-color: #7f40f3;
          display: flex;
          flex-direction: column;
          width: 40%;
          align-items: flex-start;
          padding: 6rem;

          h3 {
            font-family: brand-font;
            color: #000;
            opacity: 0.7;
          }
          h1 {
            font-family: brand-font;
            font-size: 4rem;
            color: #000;
            line-height: 1;
          }
          p {
            font-family: text-font;
            color: #000;
            opacity: 0.7;
            font-size: 1.2rem;
          }
          a {
            border: 0.1rem solid #0468d7;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-size: 0.9rem;
            background-color: #fff;
            color: #0468d7;
            font-family: brand-font;
            font-weight: 600;
            width: fit-content;
          }
          a:hover {
            background-color: #0468d7;
            color: #fff;
            transition: all ease-in 0.3s;
          }
        }
      }
    }
    /*Sixth section responsive starts here*/
    .sixth {
      background: linear-gradient(to right, #fcfce2, #f5fbfe);
      .main-six {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        figure {
          // padding: 2rem 2rem;
          width: 40%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .text-content {
          display: flex;
          flex-direction: column;
          width: 40%;
          align-items: flex-start;

          h3 {
            font-family: brand-font;
            color: #000;
            opacity: 0.7;
          }
          h1 {
            font-family: brand-font;
            font-size: 3.5rem;
            color: #000;
            line-height: 1;
          }
          p {
            font-family: text-font;
            color: #000;
            opacity: 0.7;
            font-size: 1.2rem;
          }
          a {
            border: 0.1rem solid #0468d7;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            font-size: 0.9rem;
            background-color: #0468d7;
            color: #fff;
            font-family: brand-font;
            font-weight: 600;
            width: fit-content;
          }
          a:hover {
            background-color: transparent;
            color: #0468d7;
            transition: all ease-in 0.3s;
          }
        }
      }
    }
    /*Get started section responsive starts here*/
    .started {
      flex-direction: column;
      align-items: center;
      padding: 4rem 0rem;
      .box {
        display: flex;
        flex-direction: row;
        width: 80%;
        background-size: 40% 100%;
        .get-text {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 2rem;
          h1 {
            font-size: 3.5rem;
          }
          p {
            font-size: 1.4rem;
          }
          .text-btn {
            display: flex;
            flex-direction: row;
            .btn {
              font-size: 1.1rem;
              padding: 0.9rem 2rem;
            }
            .btn:hover {
              color: #fff;
              background-color: #256cfa;
              transition: all ease-in 0.3s;
            }
            .read {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    /*Footer section responsive starts here*/
    .footer {
      width: 100%;
      padding: 2rem;
      .main-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        figure {
          width: 10%;
          // background-color: red;
          img {
            width: 100%;
            cursor: pointer;
          }
        }
        .links {
          width: 75%;
          // background-color: red;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          .about li:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          .learn li:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          .platform li:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
      /*Footer Icons*/
      .icons {
        justify-content: start;
        gap: 1.2rem;
        padding: 2rem;
        i {
          color: #000;
          opacity: 0.7;
          font-size: 1.3rem;
          cursor: pointer;
        }
      }
      .terms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding: 4rem 1rem;
        .term-para {
          font-size: 0.9rem;
          font-family: text-font;
          color: #000;
          opacity: 0.7;
          // background-color: #0468d7;
        }
        .privacy {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: end;
          justify-content: end;
          // background-color: red;
          a {
            font-size: 0.9rem;
            text-decoration: none;
            font-family: brand-font;
            color: #000;
            opacity: 0.7;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
