/*Font-Family*/
@font-face {
  font-family: brand-font;
  src: url(./Fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
@font-face {
  font-family: text-font;
  src: url(./Fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  background-color: #ffffff;
  /*Navbar*/
  /*First section starts here*/
  /*Second section starts here*/
  /*Third section starts here*/
  /*Four section starts here*/
  /*Five section starts here*/
  /*Four section starts here*/
  /*Get started section starts here*/
  /*Footer section starts here*/
}
main header p {
  /*Header paragraph*/
  text-align: left;
  color: #ffffff;
  background: linear-gradient(to right, #256cfa, #7f40f3);
  font-size: 0.9rem;
  font-family: brand-font;
  font-weight: 500;
  padding: 0.9rem 0.9rem;
}
main nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  /*Logo*/
  /*Icon*/
}
main nav img {
  width: 50%;
}
main nav i {
  font-size: 1.3rem;
}
main .first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #f3fcff, #fae8f0);
  padding: 2rem;
  gap: 5rem;
}
main .first figure img {
  width: 100%;
}
main .first .text {
  text-align: center;
  font-size: 1.5rem;
  font-family: text-font;
}
main .first h2 {
  text-align: center;
  font-family: brand-font;
  font-weight: 300;
  font-size: 2rem;
}
main .second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 4rem 0.1rem;
}
main .second .main-div .line {
  border-top: 0.3rem solid #e8eaed;
}
main .second .main-div h2 {
  padding: 0.5rem 2rem;
  font-family: brand-font;
}
main .second .main-div p {
  color: #000;
  opacity: 0.8;
  padding: 0.5rem 2rem;
  font-family: brand-font;
  font-size: 1rem;
}
main .second .main-div figure {
  width: 100%;
}
main .second .main-div figure img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 2rem;
}
main .third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}
main .third .main-div figure img {
  width: 100%;
}
main .third .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
main .third .text-content h4 {
  font-size: 1.2rem;
  font-family: brand-font;
  color: #000;
  opacity: 0.8;
}
main .third .text-content h3 {
  font-size: 2.9rem;
  font-family: brand-font;
  color: #000;
}
main .third .text-content p {
  font-size: 1.2rem;
  font-family: text-font;
  color: #000;
  opacity: 0.7;
  text-align: left;
}
main .third .text-content .third-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .third .text-content .third-btn .btn {
  border: 0.1rem solid #0468d7;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: #0468d7;
  font-family: brand-font;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
main .third .text-content .third-btn .more {
  font-family: brand-font;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
main .fourth {
  background: linear-gradient(to right, #fcfce2, #f5fbfe);
}
main .fourth .main-four {
  display: flex;
  flex-direction: column;
}
main .fourth .main-four figure {
  padding: 2rem 2rem;
}
main .fourth .main-four figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .fourth .main-four .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1.5rem;
}
main .fourth .main-four .text-content h3 {
  font-family: brand-font;
  color: #000;
  opacity: 0.7;
}
main .fourth .main-four .text-content h1 {
  font-family: brand-font;
  font-size: 2.8rem;
  color: #000;
  line-height: 1;
}
main .fourth .main-four .text-content p {
  font-family: text-font;
  color: #000;
  opacity: 0.7;
  font-size: 1.2rem;
}
main .fourth .main-four .text-content a {
  border: 0.1rem solid #0468d7;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  background-color: #0468d7;
  color: #fff;
  font-family: brand-font;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
main .fourth .main-four .text-content a:hover {
  background-color: transparent;
  color: #0468d7;
  transition: all ease-in 0.3s;
}
main .fiveth {
  background-color: #f3fcff;
}
main .fiveth .main-five {
  display: flex;
  flex-direction: column;
}
main .fiveth .main-five figure {
  padding: 2rem 2rem;
}
main .fiveth .main-five figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .fiveth .main-five .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1.5rem;
}
main .fiveth .main-five .text-content h3 {
  font-family: brand-font;
  color: #000;
  opacity: 0.7;
}
main .fiveth .main-five .text-content h1 {
  font-family: brand-font;
  font-size: 2.8rem;
  color: #000;
  line-height: 1;
}
main .fiveth .main-five .text-content p {
  font-family: text-font;
  color: #000;
  opacity: 0.7;
  font-size: 1.2rem;
}
main .fiveth .main-five .text-content a {
  border: 0.1rem solid #0468d7;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  background-color: #fff;
  color: #0468d7;
  font-family: brand-font;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
main .fiveth .main-five .text-content a:hover {
  background-color: transparent;
  color: #0468d7;
  transition: all ease-in 0.3s;
}
main .sixth {
  background: linear-gradient(to bottom left, #f5fbfe, #fcfce2);
}
main .sixth .main-six {
  display: flex;
  flex-direction: column;
}
main .sixth .main-six figure {
  padding: 2rem 2rem;
}
main .sixth .main-six figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sixth .main-six .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1.5rem;
}
main .sixth .main-six .text-content h3 {
  font-family: brand-font;
  color: #000;
  opacity: 0.7;
}
main .sixth .main-six .text-content h1 {
  font-family: brand-font;
  font-size: 2.8rem;
  color: #000;
  line-height: 1;
}
main .sixth .main-six .text-content p {
  font-family: text-font;
  color: #000;
  opacity: 0.7;
  font-size: 1.2rem;
}
main .sixth .main-six .text-content a {
  border: 0.1rem solid #0468d7;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  background-color: #0468d7;
  color: #fff;
  font-family: brand-font;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
main .sixth .main-six .text-content a:hover {
  background-color: transparent;
  color: #0468d7;
  transition: all ease-in 0.3s;
}
main .started {
  display: flex;
  flex-direction: column;
  padding: 4.5rem 2rem;
  align-content: center;
  justify-content: center;
  width: 100%;
}
main .started .box {
  width: 100%;
  border-radius: 2rem;
  background-color: #042449;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/nine.png);
  background-position: top right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main .started .box .get-text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 5rem;
  gap: 1rem;
}
main .started .box .get-text h1 {
  color: #ffffff;
  font-family: brand-font;
  font-size: 3rem;
}
main .started .box .get-text p {
  color: #ffffff;
  font-family: brand-font;
  font-size: 1rem;
}
main .started .box .get-text .text-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .started .box .get-text .text-btn .btn {
  border: 0.1em solid #000;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: #0468d7;
  background-color: #fff;
  font-family: brand-font;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
main .started .box .get-text .text-btn .read {
  font-size: 0.9rem;
  font-family: brand-font;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
main .footer {
  background-color: #f8f9fa;
  width: 100%;
  padding: 2rem;
}
main .footer .main-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4rem;
  padding: 2rem;
}
main .footer .main-footer figure {
  width: 80%;
}
main .footer .main-footer figure img {
  width: 100%;
}
main .footer .main-footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
main .footer .main-footer .links .about ul li {
  font-family: brand-font;
  list-style: none;
  color: #000;
  opacity: 0.7;
  line-height: 2rem;
}
main .footer .main-footer .links .about ul li:nth-child(1) {
  color: #000;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 700;
}
main .footer .main-footer .links .learn ul li {
  font-family: brand-font;
  list-style: none;
  color: #000;
  opacity: 0.7;
  line-height: 2rem;
}
main .footer .main-footer .links .learn ul li:nth-child(1) {
  color: #000;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 700;
}
main .footer .main-footer .links .platform ul li {
  font-family: brand-font;
  list-style: none;
  color: #000;
  opacity: 0.7;
  line-height: 2rem;
}
main .footer .main-footer .links .platform ul li:nth-child(1) {
  color: #000;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 700;
}
main .footer .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
  border-bottom: 0.1em solid rgb(227, 224, 224);
}
main .footer .icons i {
  font-size: 1.3rem;
  color: #000;
  opacity: 0.7;
}
main .footer .terms {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 1rem;
}
main .footer .terms .term-para {
  font-size: 0.9rem;
  text-align: center;
  font-family: text-font;
  color: #000;
  opacity: 0.7;
}
main .footer .terms .privacy {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
main .footer .terms .privacy a {
  font-size: 0.9rem;
  text-decoration: none;
  font-family: brand-font;
  color: #000;
  opacity: 0.7;
}

/********** Responsive Section **********/
@media (min-width: 1000px) {
  main {
    /*First section responsive starts here*/
    /*Second section responsive starts here*/
    /*Third section responsive starts here*/
    /*Fourth section responsive starts here*/
    /*Fiveth section responsive starts here*/
    /*Sixth section responsive starts here*/
    /*Get started section responsive starts here*/
    /*Footer section responsive starts here*/
  }
  main header p {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }
  main nav {
    padding: 1rem 2rem;
  }
  main nav img {
    width: 9%;
  }
  main .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main .first .first-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  main .first .first-row figure {
    width: 50%;
    -o-object-position: center;
       object-position: center;
  }
  main .first .first-row figure img {
    width: 100%;
  }
  main .first .first-row .text {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 2.3rem;
    width: 50%;
    padding: 0rem 9rem;
    font-family: brand-font;
    line-height: 1;
  }
  main .first h2 {
    padding: 5rem 2rem;
    text-align: center;
  }
  main .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 4rem 5rem;
  }
  main .second .main-div h2 {
    font-size: 1.5rem;
  }
  main .second .main-div p {
    font-size: 1.3rem;
  }
  main .third {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  main .third .main-div figure img {
    width: 100%;
  }
  main .third .text-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;
  }
  main .third .text-content h4 {
    font-size: 1.2rem;
    font-family: brand-font;
    color: #000;
    opacity: 0.8;
    padding: 0rem 5rem;
  }
  main .third .text-content h3 {
    font-size: 2.9rem;
    font-family: brand-font;
    color: #000;
    padding: 0rem 5rem;
  }
  main .third .text-content p {
    font-size: 1.2rem;
    font-family: text-font;
    color: #000;
    opacity: 0.7;
    text-align: left;
    padding: 1rem 5rem;
  }
  main .third .text-content .third-btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0rem 5rem;
  }
  main .third .text-content .third-btn .btn {
    padding: 0.9rem 0.9rem;
  }
  main .third .text-content .third-btn .btn:hover {
    background-color: #0468d7;
    color: #f3fcff;
    transition: all ease-in 0.3s;
  }
  main .fourth {
    background: linear-gradient(to right, #fcfce2, #f5fbfe);
  }
  main .fourth .main-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  main .fourth .main-four figure {
    width: 40%;
  }
  main .fourth .main-four figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .fourth .main-four .text-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
  }
  main .fourth .main-four .text-content h3 {
    font-family: brand-font;
    color: #000;
    opacity: 0.7;
  }
  main .fourth .main-four .text-content h1 {
    font-family: brand-font;
    font-size: 4rem;
    color: #000;
    line-height: 1;
  }
  main .fourth .main-four .text-content p {
    font-family: text-font;
    color: #000;
    opacity: 0.7;
    font-size: 1.2rem;
  }
  main .fourth .main-four .text-content a {
    border: 0.1rem solid #0468d7;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #0468d7;
    color: #fff;
    font-family: brand-font;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .fourth .main-four .text-content a:hover {
    background-color: transparent;
    color: #0468d7;
    transition: all ease-in 0.3s;
  }
  main .fiveth {
    background-color: #fff;
  }
  main .fiveth .main-five {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  main .fiveth .main-five figure {
    width: 40%;
  }
  main .fiveth .main-five figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .fiveth .main-five .text-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    padding: 6rem;
  }
  main .fiveth .main-five .text-content h3 {
    font-family: brand-font;
    color: #000;
    opacity: 0.7;
  }
  main .fiveth .main-five .text-content h1 {
    font-family: brand-font;
    font-size: 4rem;
    color: #000;
    line-height: 1;
  }
  main .fiveth .main-five .text-content p {
    font-family: text-font;
    color: #000;
    opacity: 0.7;
    font-size: 1.2rem;
  }
  main .fiveth .main-five .text-content a {
    border: 0.1rem solid #0468d7;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #fff;
    color: #0468d7;
    font-family: brand-font;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .fiveth .main-five .text-content a:hover {
    background-color: #0468d7;
    color: #fff;
    transition: all ease-in 0.3s;
  }
  main .sixth {
    background: linear-gradient(to right, #fcfce2, #f5fbfe);
  }
  main .sixth .main-six {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  main .sixth .main-six figure {
    width: 40%;
  }
  main .sixth .main-six figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .sixth .main-six .text-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
  }
  main .sixth .main-six .text-content h3 {
    font-family: brand-font;
    color: #000;
    opacity: 0.7;
  }
  main .sixth .main-six .text-content h1 {
    font-family: brand-font;
    font-size: 3.5rem;
    color: #000;
    line-height: 1;
  }
  main .sixth .main-six .text-content p {
    font-family: text-font;
    color: #000;
    opacity: 0.7;
    font-size: 1.2rem;
  }
  main .sixth .main-six .text-content a {
    border: 0.1rem solid #0468d7;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: #0468d7;
    color: #fff;
    font-family: brand-font;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .sixth .main-six .text-content a:hover {
    background-color: transparent;
    color: #0468d7;
    transition: all ease-in 0.3s;
  }
  main .started {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
  }
  main .started .box {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  main .started .box .get-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  main .started .box .get-text h1 {
    font-size: 3.5rem;
  }
  main .started .box .get-text p {
    font-size: 1.4rem;
  }
  main .started .box .get-text .text-btn {
    display: flex;
    flex-direction: row;
  }
  main .started .box .get-text .text-btn .btn {
    font-size: 1.1rem;
    padding: 0.9rem 2rem;
  }
  main .started .box .get-text .text-btn .read {
    font-size: 1.1rem;
  }
  main .footer {
    width: 100%;
    padding: 2rem;
    /*Footer Icons*/
  }
  main .footer .main-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  main .footer .main-footer figure {
    width: 10%;
  }
  main .footer .main-footer figure img {
    width: 100%;
    cursor: pointer;
  }
  main .footer .main-footer .links {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main .footer .main-footer .links .about li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  main .footer .main-footer .links .learn li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  main .footer .main-footer .links .platform li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  main .footer .icons {
    justify-content: start;
    gap: 1.2rem;
    padding: 2rem;
  }
  main .footer .icons i {
    color: #000;
    opacity: 0.7;
    font-size: 1.3rem;
    cursor: pointer;
  }
  main .footer .terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem 1rem;
  }
  main .footer .terms .term-para {
    font-size: 0.9rem;
    font-family: text-font;
    color: #000;
    opacity: 0.7;
  }
  main .footer .terms .privacy {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
    justify-content: end;
  }
  main .footer .terms .privacy a {
    font-size: 0.9rem;
    text-decoration: none;
    font-family: brand-font;
    color: #000;
    opacity: 0.7;
  }
  main .footer .terms .privacy a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=style.css.map */