/*Font-Family*/
@font-face {
  font-family: brand-font;
  src: url(./Fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
@font-face {
  font-family: text-font;
  src: url(./Fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  background-color: #ffffff;

  header p {
    /*Header paragraph*/
    text-align: left;
    color: #ffffff;
    background: linear-gradient(to right, #256cfa, #7f40f3);
    font-size: 0.9rem;
    font-family: brand-font;
    font-weight: 500;
    padding: 0.5rem;
  }
  /*Navbar*/
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /*Logo*/
    img {
      width: 50%;
    }
    /*Icon*/
    i {
      font-size: 1.3rem;
    }
  }
  /*First section starts here*/
  .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f3fcff, #fae8f0);
    padding: 2rem;
    gap: 5rem;
    figure {
      img {
        width: 100%;
      }
    }
    .text {
      text-align: center;
      font-size: 1.5rem;
      font-family: text-font;
    }
    h2 {
      text-align: center;
      font-family: brand-font;
      font-weight: 300;
      font-size: 2rem;
    }
  }
}

/********** Responsive Section **********/
@media (min-width: 1000px) {
  main {
    header p {
      text-align: center;
      font-size: 1rem;
      padding: 1rem;
    }
    nav {
      img {
        width: 15%;
      }
    }
    /*First section responsive starts here*/
    .first {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 50%;
        }
      }
      .text {
        align-items: center;
        font-size: 1.3rem;
        width: 50%;
        font-family: brand-font;
      }
      h2 {
        padding: 1rem;
      }
    }
  }
}
